/*
Student Name: Robert Luke Stallard
File Name: template.html
Date: 09/13/2021
*/

/*
	Color Scheme
	#E2F0F9
	#B0DDE4
	#286FB4
	#FFFFFF
	#DF4C73
*/
/* CSS Reset */
body, header, nav, main, footer, img, h1, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for images */
img {
    max-width: 100%;
	margin: 0 auto;
    display: block;
}

/* Hide tab-desk class */
.tab-desk {
	display: none;
}

/* Style rules for header content */
header {
    text-align: center;
	font-family: 'Lato', sans-serif;
    background-color: #286FB4;
	padding: 1.2em 0;
}

header h1 {
    font-weight: bold;
	font-size: 1.85em;
	line-height: 0.75em;
	color: #FFF;
}

header h2 {
	color: #FFF;
	font-size:1em;
	line-height: 0.5em;
	font-style: italic;
}

header img {
	display: inline-block;
}

/* Style rules for navigation area */
nav {
    background-color: #E2F0F9;
	padding-top: 0.25em;
}
 
nav ul {
    list-style-type: none;
    text-align: center;
}
 
nav li {
    display: block;
	background-color: #FFF;
    font-size: 1.75em;
	border: 2px solid #E2F0F9;
	border-radius: 15px;
}
 
nav li a {
    display: block;
    color: #286FB4;
    text-align: center;
    padding: 0.6em;
    text-decoration: none;
}

/* Style rules for main content */
main {
	font-family: 'Lato', sans-serif;
    background-color: #E2F0F9;
    overflow: auto;
	padding: 2% 4%;
}
main p {
    font-size: 1.25em;
}

main h3 {
	font-size: 2em;
}

main a {
    display: inline-block;
    color: #286FB4;
    text-align: center;
    padding: 1em;
	font-size: 1.5em;
    text-decoration: none;
}
main dt {
	padding: 0.6em;
	font-size: 1.35em;
	font-weight: bold;
}
main dd {
	font-size: 1.1em;
}
main ul {
	margin: 10%;
}
main li {
	font-size: 1.35em;
}

/* Style rule for main page highlighted content on mobile */
.leftcontent, .rightcontent {
	margin: 5% auto;
	width: 100%;
	background-color:white;
	text-align: center;
}

.leftcontent img, .rightcontent img{
	width: 100%;
	margin: 0;
	padding: 0;
}

/* TEMPORARILY REMOVED | DESKTOP ONLY  
.leftcontent {
	float: left;
	margin: 0 0 1.5em;
	width: 100%;
	background-color:white;
	text-align: center;
}

.rightcontent {
	float: right;
	margin: 0 0 1.5em;
	width: 100%;
	background-color:white;
	text-align: center;
}

.leftcontent img, .rightcontent img{
	max-width: 300px;
}
*/

.clear {
	clear: both;
}
/* Style rules for about page content */
#education, #work, #hobbies {
    margin: 2% 0 6%;
	padding: 1%;
	background-color: #FFF;
}
#education h3, #work h3, #hobbies h3 {
    text-align: center;
	line-height: 0.25em;
	color: #286FB4;
}

/* Style rules for contact page */
.map {
    border: 5px solid #B0DDE4;
	width: 95%;
	height: 50%;
}

#contact {
    text-align: center;
}

#phone {
	background-color: #B0DDE4;
	margin: 0 auto;
	width: 90%;
	border-radius: 8px;
}

#phone a {
	color: #FFF;
	text-decoration: none;
	font-size: 1.75em;
	display:block;
}
#email {
	margin: 0 auto;
	padding: 6% 0;
}

#email a, #email h3 {
	display: inline;
	font-size: 1.25em;
}

#address {
	margin: 0 auto;
	padding: 6% 0;
}

#address a, #address h3 {
	display: inline;
	font-size: 1.25em;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 1em;
    clear: both;  
}
 
footer a {
    color: #286FB4;
    text-decoration: none;
}
 