/*
Student Name: Robert Luke Stallard
File Name: template.html
Date: 10/26/2021
*/

/*
	Color Scheme
	#E2F0F9
	#B0DDE4
	#286FB4
	#FFFFFF
	#DF4C73
*/
/* CSS Reset */
body, header, nav, main, footer, img, h1, ul, article, section, aside, figure, figcaption, input, fieldset, form, textarea, audio {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for images */
img {
    max-width: 100%;
	margin: 0 auto;
    display: block;
}

/* Style rule for media content */
audio {
	display: block;
	margin: 0 auto;
}

/* Style rule for box sizing applies to all elements */  
* {  
	box-sizing: border-box; 
}

/* Mobile Viewport Style Rules */

/* Hide tab-desk class */
.tab-desk {
	display: none;
}

/* Style rules for header content */
header {
    text-align: center;
	font-family: 'Lato', sans-serif;
    background-image: linear-gradient(#286FB4, #E2F0F9);
	border-bottom: 1px solid #fff;
	padding: 1em 0;
	height: 60px;
}

header h1 {
    font-weight: bold;
	font-size: 1.85em;
	line-height: 0.8em;
	color: #FFF;
	text-shadow: 2px 2px 4px #B0DDE4;
}

/* Style rules for navigation area */
nav {
    background-color: #E2F0F9;
	padding-top: 0.25em;
}
 
nav ul {
    list-style-type: none;
    text-align: center;
}
 
nav li {
    display: block;
	background-color: #FFF;
    font-size: 1.75em;
	border: 2px solid #E2F0F9;
	border-radius: 15px;
}
 
nav li a {
    display: block;
    color: #286FB4;
    text-align: center;
    padding: 0.6em;
    text-decoration: none;
}

/* Style rules for main content */
main {
	font-family: 'Lato', sans-serif;
    background-color: #E2F0F9;
    overflow: auto;
	padding: 2% 4%;
}

main p {
    font-size: 1.25em;
}

main h3, main h2 {
	text-align: center;
	font-size: 2.5em;
	text-shadow: 4px 4px 6px #B0DDE4;
}

main ul {
	display: inline-block;
	padding: 0 0 2em 5em;
}

main dl {
	padding: 0 0 2em 5em;
}

main a {
    display: inline-block;
    color: #286FB4;
    text-align: center;
    padding: 1em;
	font-size: 1.5em;
    text-decoration: none;
}

main figure {
	position: relative;
	max-width: 300px;
	margin: 2% auto;
	border: 2px solid #286FB4;
	font-size: inherit;
}

main figcaption {
	position: absolute;
	bottom: 0;
	background: #286FB4;
	opacity: 0.9;
	font-style: italic;
	color: #fff;
	width: 100%;
	padding: 5% 1%;
	text-align: center;
	font-size: 1.3em;
}

main section h3, main section h2 {
	text-align: center;
	font-size: 2.5em;
	text-shadow: 4px 4px 6px #B0DDE4;
}

main article {
	margin-bottom: 10%;
}

main article h4 {
	text-align: center;
	max-width: 300px;
	margin: 2% auto;
	padding: 0.8em;
	font-size: 1.5em;
	color: #fff;
	background-color: #286FB4;
}

/* Style rule for main page highlighted content on mobile */
.highlight {
	margin: 5% auto;
	width: 100%;
	background-color: #fff;
	text-align: center;
}

.highlight img {
	width: 100%;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

/* Style rules for about page content */
#education, #work, #hobbies {
    margin: 2% 0 6%;
	padding: 1%;
	background-color: #FFF;
}

#education h3, #work h3, #hobbies h3 {
    text-align: center;
	line-height: 0.8em;
	color: #286FB4;
}

#tech h3 {
	font-size: 2em;
}

/* Style rules for table elements */
table {
    border: 1px solid #286FB4;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}
 
caption {
    font-size: 1.5em;
    font-weight: bold; 
    padding: 1%;
}
 
th, td {
    border: 1px solid #B0DDE4;
    padding: 2%; 
}
 
th {
    background-color: #286FB4;
    color: #fff;
    font-size: 1.15em;
}
 
tr:nth-child(even) {
    background-color: #B0DDE4;  
}

/* Style rules for form elements */
fieldset, input {
	display: block;
	margin-bottom: 2%;
	border: 2px solid #B0DDE4;
	padding: 1em;
}

fieldset legend {
	font-weight: bold;
	font-size: 1.35em;
	text-align: center;
}

label {
	display: block;
	padding-top: 3%;
}
textarea {
	display: block;
	width: 100%;
	height: 120px;
	border: 2px solid #B0DDE4;
	resize: none;
	font-size: 1.5em;
	margin-bottom: 5%;
}
input[type=text], input[type=email], input[type=tel] {
	width: 100%;
	font-size: 1.25em;
	padding: 0.25em;
}

#form h2 {
	font-size: 1.75em;
}

form #submit {
	margin: 0 auto;
	display: block;
	padding: 3%;
	background-color: #286FB4;
	color: #fff;
	font-size: 1em;
	width: 50%;
}

/* Style rules for contact page */
.map {
    border: 5px solid #B0DDE4;
	width: 95%;
	height: 50%;
}

#contact {
    text-align: center;
}

#phone {
	background-color: #B0DDE4;
	margin: 0 auto;
	padding: 1% 0;
	width: 90%;
	border-radius: 8px;
}
#phone a {
	color: #FFF;
	text-decoration: none;
	font-size: 1.75em;
	display:block;
}

#email {
	margin: 0 auto;
	padding: 6% 0;
}

#email a, #email h3 {
	display: inline;
	font-size: 1.25em;
}

#address {
	margin: 0 auto;
	padding: 6% 0;
}

#address a, #address h3 {
	display: inline;
	font-size: 1.25em;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 1em;
    clear: both;  
}
 
footer a {
    color: #286FB4;
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 550px), print {  
	/* Tablet Viewport: Show tab-desk class, disable mobile content */  
	.tab-desk {
	    display: block;
	}
	
	.mobile {
		display: none;
	}
	
	.grid {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 10px;
	}
	
	.grid > h2, .grid > h3 {
		grid-column: 1 / span 2;
	}
	
	/* Tablet Viewport: Style rules for header content */
	header {
		width: 100%;
		height: 75px;
		padding: 0;
	}
	
	header h1 {
		position: absolute;
		width: calc(100% - 75px);
		left: 75px;
		text-align: center;
		padding: 0.2em 0 1em 0;
		font-size: 2.5em;
	}
	
	header figure {
		width: 100%;
	}
	
	header figure img {
		position: absolute;
		max-width: 75px;
		left: 0;
		top: 0;
	}

	header figcaption {
		position: absolute;
		width: calc(100% - 75px);
		left: 75px;
		text-align: center;
		color: #286FB4;
		text-shadow: 2px 2px 4px #B0DDE4;
		font-size: 1.5em;
		line-height: 0.8em;
		font-style: italic;
		padding: 1.7em 0;
	}
	
	/* Tablet Viewport: Style rules for navigation */
	nav {
		clear: left;
	    background-color: #E2F0F9;
		padding-top: 0.5em;
	}
 
	nav ul {
	    list-style-type: none;
	    text-align: center;
	}
 
	nav li {
	    display: inline-block;
	    font-size: 2em;
		border-radius: 5px;
	}
 
	nav li a {
		padding: 0.25em 0.5em;
	}
	
	nav li a:active {
		background-color: #286FB4;
		color: #fff;
	}
	
	/* Tablet Viewport: Style rules for main content */
	main {
		font-family: 'Lato', sans-serif;
	    background-color: #E2F0F9;
	    overflow: auto;
		padding: 2% 4%;
	}
	main p {
	    font-size: 1em;
	}

	main h3 {
		font-size: 1.5em;
	}

	main a {
	    display: inline-block;
	    color: #286FB4;
	    text-align: center;
	    padding: 1em;
		font-size: 1.25em;
	    text-decoration: none;
	}
	
	/* Tablet Viewport: Highlighted home page sections */
	
	.highlight-grid {
		display: grid;
		grid-template-columns: 200px auto 200px;
		grid-gap: 10px;
	}
	.highlight > img, .highlight > .text {
		grid-row-start: 1;
	}
	.highlight > img {
		width: 200px;
	}
	.highlight:nth-child(odd) > img {
		grid-column: 1;
	}
	.highlight:nth-child(even) > img {
		grid-column: 3;
	}
	.highlight:nth-child(odd) > .text {
		grid-column: 2 / span 2;
	}
	.highlight:nth-child(even) > .text {
		grid-column: 1 / span 2;
	}
	
	/* Tablet Viewport: Style rules for about page content */
	#education {
		grid-column: 1;
	}
	
	#work {
		grid-column: 2;
	}
	#hobbies {
		grid-column: 1;
	}
	#tech {
		grid-column: 2;
	}
	
	#tech h3 {
		padding: 1px;
		margin: 1px;
	}
	/* Tablet Viewport: Style rules for testimonials page */
	#testimonials > h3 {
		grid-column: 1 / span 2;
		text-align: center;
	}
	
	#testimonials > article {
		grid-column: auto;
	}
	
	/* Tablet Viewport: Style rules for form elements */
	fieldset, input {
		width: 70%;
		margin: 0 auto;
	}

	fieldset legend {
		font-size: 1.5em;
	}

	label {
		width: 80%;
		margin: 0 auto;
	}
	
	textarea {
		height: 150px;
		width: 80%;
		margin: 0 auto 6%;
	}
	
	input[type=text], input[type=email], input[type=tel] {
		width: 80%;
		margin: 0 auto;
		
	}

	#form h2 {
		font-size: 1.75em;
	}

	form #submit {
		width: 30%;
		margin-top: 3%;
	}
	
	/* Tablet Viewport: Style rules for contact page */
	
	#contact > h2 {
		grid-column: 1 / span 2;
	}
	#contact aside {
		grid-column: 1 / span 2;
	}
	#address {
		grid-column: 1 / span 2;
	}
	.map {
	    border: 5px solid #B0DDE4;
		width: 85%;
		height: 350px;
		margin: 0 5% 5%;
	}
	#email {
		grid-column: auto;
	}
	#phone {
		grid-column: auto;
		margin: 0 auto;
		padding: 6% 0;
		background-color: transparent;
		width: 90%;
		border: 0;
		border-radius: 0;
	}
	#phone h3, #phone p {
		display: inline;
		font-size: 1.25em;
	    text-align: center;
	    padding: 0.5em;
	}
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1050px) {
	.grid {
		grid-template-columns: 33% 33% 33%;
		grid-gap: 15px;
	}
	
	.grid > h2, .grid > h3 {
		grid-column: 1 / span 3;
	}
	
	/* Desktop Viewport: Style rules for header content */
	header {
		padding: 0;
		height: 150px;
	}

	header h1 {
		position: absolute;
		width: 50%;
		font-size: 2.2em;
		text-align: left;
		padding: 40px 0 0 100px;
	}
	
	header figure {
		width: 50%;
	}
	
	header figure img {
		max-width: 150px;
	}

	header figcaption {
		position: absolute;
		width: 50%;
		left: 150px;
		text-align: left;
		font-size: 1.5em;
		padding: 85px 0 0 1em;
	}
	
	/* Desktop Viewport: Style rules for navigation area */
	nav {
		display: block;
	    background-color: transparent;
		padding: 2.8em 0.5em;
		float: right;
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
	}
 
	nav li {
	    display: inline-block;
		background-color: #FFF;
	    font-size: 1.2em;
		border: 2px solid #E2F0F9;
		border-radius: 15px;
		margin-left: 0.3em;
	}
 
	nav li a {
	    padding: 0.5em 0.8em;
	}
	
	nav li:hover {
		background-color: #286FB4;
	}
	nav li a:hover {
		color: #fff;
	}
	
	/* Desktop Viewport: Style rules for main content */
	main {
		clear: both;
		padding: 2% 4%;
	}
	main h3 {
		font-size: 2.5em;
	}
	
	/*Desktop Viewport: Style rules for highlighted main page sections */
	.highlight-grid {
		grid-template-columns: 300px auto 300px;
		grid-gap: 10px;
	}
	.highlight > img {
		width: 300px;
	}
	
	/* Desktop Viewport: Style rules for about page content */
	#education {
		grid-column: 1;
	}
	
	#work {
		grid-column: 2;
	}
	#hobbies {
		grid-column: 3;
	}
	
	#tech {
		grid-column: 1 / span 3;
	}
	
	#tech h3 {
		font-size: 2.5em;
		padding: 5px;
		margin: 5px;
	}
	/* Style rules for table elements */
	table {
	    width: 70%;
	}
	
	/* Tablet Viewport: Style rules for testimonials page */
	#testimonials > h3 {
		grid-column: 1 / span 3;
		text-align: center;
	}
	
	#testimonials > article {
		grid-column: auto;
	}
	
	/* Desktop Viewport: Style rules for contact page */
	#contact > h2 {
		grid-column: 1 / span 3;
	}
	
	#contact aside {
		grid-column: 1 / span 3;
	}
	
	#address {
		grid-column: auto;
	}
	
	.map {
	    border: 5px solid #B0DDE4;
		width: 70%;
		height: 350px;
		margin: 0 auto;
	}
	
	#phone, #email, #address {
		display: inline-block;
		float: left;
	}
	
	#contact h3, #contact p, #contact a{
		font-size: 1.5em;
	}
}